@media(min-width: 768px) {
    .wrap-service{
        display: grid;
    }
    .nav-tab-item a{
        font-size: 16px;
    }
    .fix-thumb{
        height: 220px;
    }
}

@media(max-width: 767px) {
    .nav-tab-item a{
        font-size: 11px;
        line-height: 20px;
    }
    .srv-inf h5, .evnt-inf>h5{
        font-size: 13px;
    }
}
.desc_pro{
    float: left;
}
.theme-btn-cc{
    background: #000;
    padding: 5px 10px;
    color: #fff !important;
    width: 100%;
    display: block;
    text-align: center;
}
.campaign-detail-desc p{
    color: #000;
}
.wrap-service{
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 0;
  background-color: #2196F3;
  padding: 0;
}
.item1 {

}
.listwrap_sv{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 500px;
}
.listwrap_sv a{
	display: block;
	width: 100%;
	height: 100%;
	color: #fff;
	padding: 20px;
	position: relative;
	background: rgba(0,0,0,0.5);
}
.listwrap_sv a:hover{
	background: none;
}
.title_service{
	text-transform: uppercase;
	font-size: 22px;
	position: absolute;
	bottom: 20px;
	color: #fff;
	font-weight: bold;
	text-shadow: 1px 1px #000;
}
.title_product{
	padding-top: 15px;
	font-size: 24px;
	margin-bottom: 0;
    height: 80px;
}
.vdo-bx-fix p{
	color: #000;
	line-height: 24px;
}
.vdo-bx-fix{
	background: #f6f6f6;
	padding: 20px;
}
.pdt50{
	padding-top: 50px;
}
.pdb50{
	padding-bottom: 50px;
}
.abt-desc>p{
	color: #000;
}
.img_product{
	display: block;
	width: 100%;
	height: 350px;
	overflow: hidden;
}
.abt-desc>ul>li{
	color: #000;
	font-weight: bold;
}
.camp-thmb a img{
	height: 200px;
}
.thongtin_cty{
	color: #fff;
}
.thongtin_cty h3{
	color: #fff;
	font-size: 25px;
	padding-bottom: 30px;
}
.thongtin_cty p{
	color: #fff;
}
.wdgt-bx>ul li>a{
	color: #fff;
}
.wdgt-bx h5{
	color: #fff;
}
.blg-bx{
    padding-bottom: 30px;
}
.blg-inf>h6{
    height: 60px;
}
.btn_xemthem{
	text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
}
.btn_xemthem a{
	padding: 10px 40px;
	background: #f68634;
	color: #fff;
	border-radius: 5px;
}
.btn_xemthem a:hover{
    background: #000;
}
.title_gp{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 0;
}
.tm-bx:hover .desc_gp{
    color: #fff;
}
.tm-bx:hover a{
    color: #fff;
}
.desc_gp{
    font-size: 14px;
}
.tm-inf{
    text-align: left;
}
.btn-tuvan{
    padding: 15px 0;
}
.btn-tuvan a{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}
.btn-tuvan a:hover{
    color: #fff;
}
.giaiphap_home{
    top: -30px;
    z-index: 99;
}
.fix-desc{
    border-radius: 5px;
}
.nav-tab-item{
    width: calc(100%/4);
    text-align: center;
}
.nav-tab-item a{
    text-transform: uppercase;
}
.nav-tab-item a.active{
    border: 0;
    font-weight: bold;
    color: #f68634 !important;
}
.nav-tab-item a:hover{
    border: 0;
    font-weight: bold;
    color: #f68634 !important;
}
.tab_content_news{
    padding-top: 50px;
}
.blg-fix{
    height: 200px;
}
.footer_bca{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}
.footer_bca::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000219;
    opacity: 0.95;
    z-index: -1;
}
.drk-bg-fix{
    background: #000219;
}
.blg_news{
    height: 152px;
}
ul.pst-mta-date{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 0;
}
ul.pst-mta-date li{
    display: inline;
    font-size: 12px;
    padding-right: 10px;
}
ul.pst-mta-date li i{
    padding-right: 5px;
}
.blg-inf-fix{
    float: left;
    width: 100%;
    margin-top: 25px;
    position: relative;
    padding-bottom: 23px;
    border-bottom: 1px solid #e5e5e5;
}
.blg-inf-fix h4{
    font-size: 16px;
    line-height: 25px;
    height: 75px;
}
.title_blog_detail{
    font-size: 30px;
}
.sidebar_title{
    color: #000;
    padding-bottom: 20px;
}
.sidebar-wrp .ltst-nws-inf>h6{
    padding-top: 10px;
}
.ltst-nws-bx{
    padding-bottom: 15px;
}
.cat-lst-se{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
.cat-lst-se li{
    padding-bottom: 10px;
}
.cat-lst-se li a{
    color: #000;
    font-size: 15px;
}
.cat-lst-se li a i{
    padding-right: 10px;
}
.cat-lst-se li a:hover{
    color: #f68634;
}
.list_sidebar h3{
    padding-bottom: 20px;
    text-transform: uppercase;
}
.content_catpro .card-header{
    background: #fff;
}
.card-fix{
    background: #fff;
}
.list_sb_cat{
    list-style: none;
    padding-left: 0;
}
.list_sb_cat li{
    line-height: 20px !important;
    padding-bottom: 10px;
}
.content_catpro .card-header h5 button{
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}
[data-toggle="collapse"] .fa:before {
    content: "\f139";
}

[data-toggle="collapse"].collapsed .fa:before {
    content: "\f13a";
}
.fix-thumb{
    background: #fff;
    padding-bottom: 20px;
}
.title_tao{
    font-size: 16px;
    padding: 10px;
    line-height: 25px;
}
.title_product_page{
    font-size: 25px;
}
.cybersecurity-content h2, .complete-content h2{
    font-size: 28px;
    font-weight: bold;
    color: #0e0129;
}
.cybersecurity-content p, .complete-content p{
    color: #0e0129;
    padding: 8px 0;
}
.cybersecurity-item{
    list-style: none;
    padding-left: 0;
    margin: 0;
}
.cybersecurity-content ul li {
    display: inline-block;
    background-color: #fdeff4;
    padding: 10px;
    margin-bottom: 30px;
    width: 100%;
    font-weight: 600;
    position: relative;
    padding-left: 35px;
    z-index: 1;
    -webkit-transition: all .5s;
    transition: all .5s;
    cursor: pointer;
    color: #000;
    font-size: 15px;
}
.cybersecurity-content ul li::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background-image: -webkit-gradient(linear,left top,right bottom,from(#d2044d),to(#ff5e68));
    background-image: linear-gradient(to bottom right,#d2044d,#ff5e68);
    -webkit-transition: all .5s;
    transition: all .5s;
    z-index: -1;
}
.cybersecurity-content ul li i {
    position: absolute;
    top: 16px;
    left: 10px;
    font-size: 15px;
    font-weight: 600;
    color: #d80650;
    -webkit-transition: all .5s;
    transition: all .5s;
}
.cybersecurity-content ul li:hover{
    color: #fff;
}
.cybersecurity-content ul li:hover i{
    color: #fff;
}
.cybersecurity-content ul li:hover::before {
    width: 100%;
    right: auto;
    left: 0;
    color: #fff;
}
.complete-content .single-security {
    position: relative;
    z-index: 1;
}
.single-security {
    background-color: #fef4f8;
    padding: 28px;
    margin-bottom: 30px;
    -webkit-transition: all .5s;
    transition: all .5s;
}
.complete-content .single-security::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background-image: -webkit-gradient(linear,left top,right bottom,from(#d2044d),to(#ff5e68));
    background-image: linear-gradient(to bottom right,#d2044d,#ff5e68);
    -webkit-transition: all .5s;
    transition: all .5s;
    z-index: -1;
}
.complete-content .single-security i {
    -webkit-transition: all .5s;
    transition: all .5s;
}
.single-security i {
    font-size: 20px;
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-image: -webkit-gradient(linear,left top,right bottom,from(#d2044d),to(#ff5e68));
    background-image: linear-gradient(to bottom right,#d2044d,#ff5e68);
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin-bottom: 15px;
    -webkit-transition: all .5s;
    transition: all .5s;
}
.single-security h3 {
    font-size: 20px;
    margin-bottom: 9px;
}
.complete-content .single-security p {
    -webkit-transition: all .5s;
    transition: all .5s;
}
.single-security:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}
.bg-color {
    background-color: #010c16;
}
.electronic-content h2 {
    font-size: 30px;
    margin-bottom: 50px;
    color: #fff;
}
.electronic-area{
    padding: 100px 0;
}
.electronic-content {
    margin-top: -8px;
    margin-bottom: -8px;
}
.electronic-content .electronic-tab-wrap .electronic-tab .tabs {
    border-bottom: 2px solid #2f3840;
    margin-bottom: 30px;
}
.electronic-tab ul{
    list-style: none;
    padding-left: 0;
}
.electronic-content .electronic-tab-wrap .electronic-tab .tabs li {
    padding: 0;
    margin-right: 30px;
    padding-bottom: 10px;
    display: inline-block;
    font-weight: 600;
    position: relative;
}
.electronic-content .electronic-tab-wrap .electronic-tab .tabs .current::before {
    width: 100%;
    right: auto;
    left: 0;
}
.electronic-content .electronic-tab-wrap .electronic-tab .tabs li::before {
    content: "";
    position: absolute;
    bottom: -2px;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #d80650;
    -webkit-transition: all .5s;
    transition: all .5s;
}
.electronic-content .electronic-tab-wrap .electronic-tab .tabs .current a {
    color: #d80650;
}
.electronic-content .electronic-tab-wrap .electronic-tab .tabs li a {
    padding-left: 0!important;
    color: #fff;
}
.electronic-content .electronic-tab-wrap .electronic-tab p {
    color: #fff;
}
.complete-area {
    padding: 80px 0;
}
.map_contact{
    padding-top: 50px;
}
.map_contact iframe{
    width: 100% !important;
}
.result_name{
    padding-bottom: 30px;
}
.result_name span{
    color: #d80650;
    font-weight: bold;
}
.btn_profile a{
    text-transform: uppercase;
    background: #d80650;
    color: #fff;
    padding: 10px 20px;
    display: block;
    width: 190px;
    border-radius: 4px;
}
.btn_profile a:hover{
    background: #fff;
    color: #d80650;
}
.btn_contact_foot a{
    text-transform: uppercase;
    background: #0C7FCC;
    color: #fff;
    padding: 10px 20px;
    display: block;
    width: 190px;
    border-radius: 4px;
}
.btn_contact_foot a:hover{
    background: #fff;
    color: #0C7FCC;
}
.btn_contact_foot{
    padding-top: 20px;
}
.item_factory{
    display: flex;
    padding-bottom: 50px;
}
.img_factory{
    width: 25%;
}
.info_fac{
    width: 75%;
    padding-left: 20px;
}
.info_fac h3{
    color: #db0f30;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}
.info_fac p{
    color: #000;
}
.btn_fac a{
    background: #db0f30;
    color: #fff;
    padding:5px 20px;
    border-radius: 5px;
    margin-right: 10px;
}
.btn_fac a:hover{
    background: #000;
}
.blog-detail-desc p{
    color: #000;
}
.desc_uud img{
    height: auto !important;
}
